* {
  box-sizing: border-box;
}

.block {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  width: 250px;
  height: 100px;
  border-radius: 10px;
  background-color: coral;
  left: calc(100vw / 2 - 100px);
  animation: move 2s ease;
  animation-fill-mode: forwards;
}

@keyframes move {
  0% {
    top: -100px;
  }
  100% {
    top: calc(50vh - 50px);
  }
}
