* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: relative;
}

.block {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  width: 250px;
  height: 100px;
  border-radius: 10px;
  background-color: coral;
  animation: move 2s ease;
  animation-fill-mode: forwards;
}

@keyframes move {
  0% {
    top: -100px;
  }
  100% {
    top: calc(50vh - 50px);
  }
}
