* {
  box-sizing: border-box;
}

@keyframes moving {
  from {
    left: 0;
    opacity: 1;
  }
  to {
    left: 70px;
  }
}

@keyframes blinking {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.spinner {
  position: relative;
  font-family: monospace;
  font-size: 16px;
  text-transform: uppercase;
}

.spinner-text {
  animation: blinking 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.rect {
  position: absolute;
  background-color: black;
  width: 10px;
  height: 4px;
  border-radius: 2px;
  animation: moving 2s, blinking 2s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
