* {
  box-sizing: border-box;
}

.square {
  width: 100px;
  height: 100px;
  background-color: coral;
  position: absolute;
  animation: move 2s;
}

@keyframes move {
  0% {
    left: 0;
    top: 0;
  }
  25% {
    left: 300px;
    top: 0;
    background-color: cornflowerblue;
  }

  50% {
    top: 300px;
    left: 300px;
    background-color: aqua;
  }
  75% {
    left: 0;
    top: 300px;
    background-color: yellowgreen;
  }
  100% {
    left: 0;
    top: 0;
    background-color: coral;
  }
}
